:root {
    --main-font: "Poppins",
        sans-serif;
    --additional-font: "Merriweather",
        serif;
    --main-color: #2a6d58;
    --hover-color: #1d4e3f;
    --background-color: #4475429c;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    background-image: url('/images/background.png');
    color: black;
}

nav {
    padding: 37px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    font-size: 22px;
    margin-left: 35px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: all 100ms ease-in-out;
}

nav a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.main-content {
    padding: 45px 45px 45px 45px;
    background-color: var(--background-color);
    margin: 0px 15px 200px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.main-content h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 300;
    font-family: var(--additional-font);
    line-height: 1.3;
}

.main-content img {
    border-radius: 100px;
}

.name {
    margin-top: 50px;
    display: inline-block;
    font-weight: 400;
    font-family: var(--additional-font);
    font-style: italic;
}

.about {
    padding: 35px 45px 35px 45px;
    background-image: url('/images/opacity-flow.png');
    background-color: #F5F5F5;
    background-size: 90%;
    border-radius: 15px;
    margin: 0px 90px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.about h2 {
    margin-top: 38px;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}

.about p {
    font-size: 21px;
    padding: 30px;
    font-weight: 500;
}

.name-bold {
    font-weight: 700;
    font-style: italic;
}

.foundation-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all 100ms ease-in-out;
}

.foundation-link:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.donate-btn {
    display: inline-block;
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    font-weight: 400;
    font-size: 19px;
    padding: 13px 40px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #2a705b;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.donate-btn:hover {
    background-color: var(--hover-color);
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin: 150px 0 0;
    transition: all 100ms ease-in-out;
    font-weight: 500;
}

footer .email-link:hover {
    color: var(--main-color);
    text-decoration: underline;
}

footer .social-link a {
    padding: 10px 20px;
    font-size: 45px;
    color: black;
    transition: all 100ms ease-in-out;
    margin-bottom: 35px;
}

footer .social-link a:hover {
    color: var(--hover-color);
}

@media (max-width: 600px) {

    nav li {
        font-size: 17px;
        margin-left: 9px;
    }

    .main-content {
        margin: 0px 25px 150px;
    }

    .main-content h1 {
        font-size: 40px;
        line-height: 1.3;
    }

    .about {
        margin: 0px 35px 30px;
        padding: 25px 15px 35px 15px;
        background-repeat: repeat;
    }

    .about h2 {
        font-size: 27px;
        margin-top: 20px;
    }

    .about p {
        font-size: 17px;
        padding: 20px;
        text-align: center;
    }
}

@media (min-width: 601px) and (max-width:1024px) {

    .about {
        margin: 0px 40px 30px;
        padding: 25px 15px 35px 15px;
        background-repeat: repeat;
    }

    .about p {
        text-align: center;
        padding: 20px;
    }
    
}
